/* Home.css */
.first-word {
    @apply text-yellow-400 inline-block overflow-hidden whitespace-nowrap border-r-2 border-yellow-400;
    animation: typing 2s steps(10, end), blink-caret 0.5s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: yellow; }
  }
  